body {background-color: #FCEBB6;
      background-image: url(fadedroad50.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: #221811;
      font-family: Tahoma, Arial, sans-serif;
}
#wrapper {background-color: #FEFAEB;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          min-width: 900px;
          max-width: 1280px;
          box-shadow: 3px 3px 3px #676767;
}
header {background-color: #D2B48C;
        color: #8C3826;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
}
h1 {font-size: 3em;}
h2 {color: #8C3826;}
h3, dt {color: #8C3826}
h4 {background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}
nav {font-weight: bold;
        text-align: center;
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 5px;
}
nav a {text-decoration: none;}
main {display: block;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
}
.details {padding-left: 20%}
  padding-right: 20%}
img {padding-left: 10px;
  padding-right: 10px;}
#homehero {height: 300px;
           background-image: url(hero.jpg);
           background-repeat: no-repeat;
           background-size: cover;
}
footer {background-color: #D2B48C;
        font-size: .60em;
        font-style: italic;
        text-align: center;
        padding-bottom: 1em;
        border-top: 2px solid #8C3826;
}
